body {
	background: #242424;
}

#wrap {
	background: #222;
	border-radius: 5px;
	width: 500px;
	margin: 50px auto;
}


.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

#filters {
	background: rgba(0,0,0, 0.4);
	display: none;
}

canvas {
	background: #eaeaea;
	display: block;
	height: 240px;
	width: 320px;
	image-rendering: optimizeQuality;
	object-fit: cover;
}

video {
<<<<<<< HEAD
	width: 500px;
	border-radius: 7px;
=======
	width: 320px;
>>>>>>> 95d58eb6ce923f4999fdf4478f3dfc6f72c6c306
}

.hidden {
	display: none;
}
