body {
	background: #111;
}

#wrap { 
	background: #222;
	border-radius: 5px;
	width: 640px;
	margin: 50px auto; 
}


.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}	

#filters {
	background: rgba(0,0,0, 0.4);
	display: none;
}

canvas {
	background: #eaeaea;
	display: block;
	height: 240px;
	width: 320px;
	image-rendering: optimizeQuality;
	object-fit: cover;
}

video {
	width: 320px;
}

.hidden {
	display: none;
}
